{
  "public_url_dev": "http://localhost:3000",
  "public_url_prod": "http://localhost:8000/admin",
  "base_url_dev": "http://localhost:8000",
  "base_url_prod": "http://localhost:8000",
  "backend_url_dev": "http://localhost:8002",
  "backend_url_prod": "https://puskesmaspasirnangka.com"
}
